.container-Components{
    overflow: auto;
    height: 100%;
}
.box-components{
    max-width: 960px;
    width: 100%;
    margin: auto;
    .titulo{
        margin: 20px 0;
    }
    .content{
        margin-bottom: 30px;
    }

}
