.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-page);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  padding: 8px 15px;
  transition: all 0.15s;
  min-height: 46px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

  &.circle {
    align-items: center;
    border-radius: 50px;
    display: inline-flex;
    font-size: 1em;
    justify-content: center;
    min-height: 34px;
    min-width: 34px;
    padding: 6px;
  }
  &.transparent{
    background-color: transparent;
  }
  &.small {
    min-height: 36px;
    min-width: 36px;
  }
  &.block {
    width: 100%;
  }
  &:active {
    position: relative;
    top: 1px;
  }
  &:focus {
    outline: none;
  }
  > svg {
    font-size: 20px;
  }
}

.btn {
  background-color: var(--default-bg);
  border-color: var(--default-bgh);
  color: var(--default-color);
  &.normal{
    &.primary {
      background-color: var(--primary-bg);
      border-color: var(--primary-bgh);
      color: var(--primary-color);
      &:hover {
        background-color: var(--primary-bgh);
      }
    }
    &.secondary {
      background-color: var(--secondary-bg);
      border-color: var(--secondary-bgh);
      color: var(--secondary-color);
      &:hover {
        background-color: var(--secondary-bgh);
      }
    }
    &.success {
      background-color: var(--success-bg);
      border-color: var(--success-bgh);
      color: var(--success-color);
      &:hover {
        background-color: var(--success-bgh);
      }
    }
    &.warning {
      background-color: var(--warning-bg);
      border-color: var(--warning-bgh);
      color: var(--warning-color);
      &:hover {
        background-color: var(--warning-bgh);
      }
    }
    &.danger {
      background-color: var(--error-bg);
      border-color: var(--error-bgh);
      color: var(--error-color);
      :hover {
        background-color: var(--error-bgh);
      }
    }
  }
  &:hover {
    background-color: var(--default-bgh);
  }
  &.outline{
    &.primary {
      border-color: var(--primary-bg);
      color: var(--color-page);
      &:hover {
        background-color: var(--primary-bg);
        color: var(--primary-color);
      }
    }
    &.secondary {
      border-color: var(--color-page);
      color: var(--color-page);
      &:hover {
        background-color: var(--secondary-bg);
        color: var(--secondary-color);
      }
    }
    &.success {
      border-color: var(--success-bg);
      color: var(--color-page);
      &:hover {
        background-color: var(--success-bg);
        color: var(--success-color);
      }
    }
    &.warning {
      border-color: var(--warning-bg);
      color: var(--color-page);
      &:hover {
        background-color: var(--warning-bg);
        color: var(--warning-color);
      }
    }
    &.danger {
      border-color: var(--error-bg);
      color: var(--color-page);
      &:hover {
        background-color: var(--error-bg);
        color: var(--error-color);
      }
    }
  }
  &.outlined{
    &.primary {
      border-color: var(--primary-bg);
      color: var(--primary-bg);
      &:hover {
        background-color: var(--primary-bg);
        color: var(--primary-color);
      }
    }
    &.secondary {
      border-color: var(--secondary-bg);
      color: var(--secondary-bg);
      &:hover {
        background-color: var(--secondary-bg);
        color: var(--secondary-color);
      }
    }
    &.success {
      border-color: var(--success-bg);
      color: var(--success-bg);
      &:hover {
        background-color: var(--success-bg);
        color: var(--success-color);
      }
    }
    &.warning {
      border-color: var(--warning-bg);
      color: var(--warning-bg);
      &:hover {
        background-color: var(--warning-bg);
        color: var(--warning-color);
      }
    }
    &.danger {
      border-color: var(--error-bg);
      color: var(--error-bg);
      &:hover {
        background-color: var(--error-bg);
        color: var(--error-color);
      }
    }
  }
}

.link {
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom-width: 1px;
  color: var(--color-page);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  &:active {
    position: relative;
    top: 1px;
  }
  &:focus {
    outline: none;
  }
  &.normal{
    &.primary {
      color: var(--primary-bg);
    }
    &.secondary {
      color: var(--secondary-bg);
    }
    &.success {
      color: var(--success-bg);
    }
    &.warning {
      color: var(--warning-bg);
    }
    &.danger {
      color: var(--error-bg);
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &.outlined {
    color: var(--color-page);
    &.primary:hover {
      border-color: var(--primary-bg);
    }
    &.secondary:hover {
      border-color: var(--secondary-bg);
    }
    &.success:hover {
      border-color: var(--success-bg);
    }
    &.warning:hover {
      border-color: var(--warning-bg);
    }
    &.danger:hover {
      border-color: var(--error-bg);
    }
  }
}


